<%- include("../partials/top"); %>
  <div style="width: 50rem; margin: 0 auto;">
    <h1>New Post</h1>
    <form action="/posts" method="post">
      <div class="mb-3 d-flex flex-column justify-content-center">
          <input type="text" name="title" class="form-control mb-3" placeholder="Title">
          <textarea name="content" cols="30" rows="10" class="form-control" placeholder="Type post content here..."></textarea>
          <div class="d-flex justify-content-end m-3">
            <button class="btn btn-outline-danger btn-lg me-3">Cancel</button>
            <button type="submit" class="btn btn-secondary btn-lg">Post</button>
          </div>
      </div>
    </form>
  </div>
</div>
<%- include("../partials/bottom"); %>