<div id="user-count">
  <div class="card mt-3">
    <div class="card-body">
      <h5>Total users whose name starts with the letter "a": <%= userCount.a %></h5>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>Total users whose name starts with the letter "b": <%= userCount.b %></h5>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>Total users whose name starts with the letter "c": <%= userCount.c %></h5>
    </div>
  </div>
</div>
