<%- include("../partials/top"); %>
<div style="width: 50rem; margin: 0 auto">
  <h1>Users</h1>
  <div>
    <a href="/users">All</a>
    <button onclick="operation1()">Alphabetical order with uppercase lastnames</button>
    <button onclick="operation2()">Starting with "a", "b", and "c"</button>
    <button onclick="operation3()">Counting with "a", "b", and "c"</button>
  </div>
  <%- include("./userList", users); %>
</div>
<%- include("../partials/bottom"); %>

<script>
  const operation1 = async () => {
    const url = "http://localhost:3000/users/op1";
    const response = await fetch(url);
    const userlist = await response.text();
    document.getElementById("user-list").innerHTML = userlist
  };

  const operation2 = async () => {
    const url = "http://localhost:3000/users/op2";
    const response = await fetch(url);
    const userlist = await response.text();
    document.getElementById("user-list").innerHTML = userlist
  }

  const operation3 = async () => {
    const url = "http://localhost:3000/users/op3";
    const response = await fetch(url);
    const userlist = await response.text();
    document.getElementById("user-list").innerHTML = userlist
  }
</script>
